body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    font-size: 15px;
    justify-content: center;
    margin-top: -30px;
  }
  
  table {
    width: 100%;
  }
  
  td {
    padding-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 40%;
    padding: 10px;
    border-radius: 5%;
    border-width: 1px;
    background-color: rgba(197, 197, 197, 0.082);
    justify-content: center;
    margin-left: 90px;
  }
  
  input[type="submit"] {
    background-color: rgba(37, 143, 200, 0.934);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
    border-width: 1px;
    margin: 5%;
  }
  
  input[type="submit"]:hover {
    background-color: rgba(37, 143, 200, 0.658);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    width: 300px;
    height: 450px;
    justify-content: center;

  }
  
  .sign-in-box {
    flex: 1;
    /* background-color: rgba(50, 109, 129, 0.139); */
    border-radius: 5px;
    border: 1.5px solid rgba(37, 143, 200, 0.37) ;

  }


  .sign-in-box img {
    width: 250px; 
    height: 250px; 
    margin-left: 50px;
    justify-content: center;
    margin-right: 50px;
  }
  